attrs==22.1.0
black==22.8.0
bleach==5.0.1
certifi==2022.9.14
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
delta-spark==2.1.0
docutils==0.19
idna==3.4
importlib-metadata==4.12.0
iniconfig==1.1.1
jaraco.classes==3.2.2
Jinja2==3.1.2
keyring==23.9.3
MarkupSafe==2.1.1
more-itertools==8.14.0
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.10.1
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
py4j==0.10.9.5
pydantic==1.10.2
Pygments==2.13.0
pyparsing==3.0.9
pyspark==3.3.0
pytest==7.1.3
PyYAML==6.0
readme-renderer==37.1
regex==2022.9.13
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
six==1.16.0
tomli==2.0.1
twine==4.0.1
typing_extensions==4.3.0
urllib3==1.26.12
webencodings==0.5.1
-e git+ssh://git@github.com/sibytes/yetl.git@aba00badcb77d90cb2e291a10dcdf2e7e1445892#egg=yetl_framework
zipp==3.8.1
