attrs==22.1.0
black==22.8.0
click==8.1.3
delta-spark==2.1.0
importlib-metadata==4.12.0
iniconfig==1.1.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.10.1
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
py4j==0.10.9.5
pydantic==1.10.2
pyparsing==3.0.9
pyspark==3.3.0
pytest==7.1.3
PyYAML==6.0
regex==2022.9.13
tomli==2.0.1
typing_extensions==4.3.0
-e git+ssh://git@github.com/sibytes/yetl.git@0d39c8a13eee196e19864429e678020621d752eb#egg=yetl_framework
zipp==3.8.1
