datalake: "/mnt/datalake"
datalake_protocol: "dbfs:"
spark:
  spark.master: local
  spark.databricks.delta.allowArbitraryProperties.enabled: true

spark_schema_repo:
  spark_schema_file:
    spark_schema_root: ./config/schema/spark

deltalake_schema_repo:
  deltalake_sql_file:
    deltalake_schema_root: ./config/schema/deltalake

# used to write data lineage to
metadata_repo:
  metadata_file:
    metadata_root: /yetl/runs
    metadata_dataset: dataset.json
    metadata_index: index.json

  # metadata_deltalake:
  #   metadata_database: yetl
  #   metadata_table: dataset
  #   metadata_index: index